%h1 Register With BookMe 

-unless @user ==nil
  -if @user.errors.any?
    %ul
    -@user.errors.full_messages.each do |msg|
      %li #{msg}
      
= form_tag users_path do

  .form-group
    .row
      .col-md-4
        = label :user, :first_name, 'First Name'
        = text_field :user, 'first_name', :id => 'signup_first_name', class: 'form-control'
  .form-group
    .row
      .col-md-4
        = label :user, :last_name, 'Last Name'
        = text_field :user, 'last_name', :id => 'signup_last_name', class: 'form-control'
  .form-group
    .row
      .col-md-4
        = label :user, :user_id, 'User-ID'
        = text_field :user, 'user_id', :id => 'signup_id', class: 'form-control'
  .form-group
    .row
      .col-md-4 
        = label :user, :email, 'E-Mail'
        = text_field :user, 'email', :id => 'signup_email', class: 'form-control'
  .form-group
    .row
      .col-md-4 
        = label :user, :password, 'Password'
        = password_field :user, 'password', :id => 'signup_password', class: 'form-control'
  .form-group
    .row
      .col-md-4
        = label :user, :password_confirmation, 'Confirm Password'
        = password_field :user, 'password_confirmation', :id => 'signup_password_confirmation', class: 'form-control'


  = submit_tag 'Create My Account', :id => 'signup_submit', class: 'btn btn-primary'