-# edit.html.haml using partial
= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks'
= button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks'
%h1 Edit Existing Book

= form_tag book_path(@book), :method => :put do
  = image_tag asset_path(@book[:image]), :size => '75x100'

  = label :book, :title, 'Title'
  = text_field :book, 'title'
  
  = label :book, :author, 'Author'
  = text_field :author, 'author', :value => @book.author

  = label :book, :isbn, 'ISBN'
  = text_field :isbn, 'isbn', :value => @book.isbn

  = label :book, :quality, 'Quality'
  = text_field :quality, 'quality', :value => @book.quality
  
  = label :book, :price, 'Price'
  = text_field :price, 'price', :value => @book.price
  
  = label :book, :description, 'Description'
  = text_field :description, 'description', :value => @book.description

  = label :book, :image, 'Image'
  = text_field :book, :image, :value=>@book[:image]  

  = submit_tag 'Update Book Info'

