-# edit.html.haml using partial

%h1 Edit Existing Book

= form_tag book_path(@book), :method => :put do

  = label :book, :title, 'Title'
  = text_field :book, 'title'
  
  = label :book, :author, 'Author'
  = text_field :author, 'author'

  = label :book, :isbn, 'ISBN'
  = text_field :isbn, 'isbn'

  = label :book, :quality, 'Quality'
  = text_field :quality, 'quality'
  
  = label :book, :price, 'Price'
  = text_field :price, 'price'
  
  = submit_tag 'Update Book Info'

= link_to 'Back to my books', mybooks_path
