-# edit.html.haml using partial
= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks'
= button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks'
%h1 Edit Existing Book

= form_tag book_path(@book), :method => :put, :id =>'edit_book' do
  = image_tag asset_path(@book[:image]), :size => '75x100'

  = label :book, :title, 'Title'
  = text_field :book, 'title'
  
  = label :book, :author, 'Author'
  = text_field :book, 'author', :value => @book.author

  = label :book, :isbn, 'ISBN'
  = text_field :book, 'isbn', :value => @book.isbn

  = label :book, :department, 'Department'
  = text_field :book, 'department', :value=>@book.department
  
  = label :book, :course, 'Course'
  = text_field :book, 'course', :value=>@book.course

  = label :book, :quality, 'Quality'
  = text_field :book, 'quality', :value => @book.quality
  
  = label :book, :price, 'Price'
  = text_field :book, 'price', :value => @book.price
  
  = label :book, :auction_start_price, 'Auction Price'
  = text_field :book, 'auction_start_price' , :value => @book.auction_start_price
  
  = label :book, :auction_time, 'Auction Time'
  = text_field :book, 'auction_time' , :value => @book.auction_time

  = label :book, :description, 'Description'
  = text_area :book, 'description', :value => @book.description

  = label :book, :image, 'Image'
  = text_field :book, :image, :value=>@book[:image]  
  
  = label :book, :keyword, 'Keywords:'
  = text_field :book, 'keyword[0]', :value => @book[:keyword]
  - num = 1
  - @keywords.each do |keyword|
    = text_field :book, 'keyword[num]', :value => @book[:keyword][num]

  = submit_tag 'Update Book Info', :id=>'add_book'
=button_tag "add keywords", :id=>'add_keywords', :onclick => 'click_handler()'

