-#  This file is app/views/books/index.html.haml
= button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks'
= button_to 'Sign Up/Login', login_path, :method =>:get
%h1 All Books

%table#books
  %thead
    %tr
      %th
      %th Book Title
      %th Author
      %th Price
  %tbody
    - @books.each do |book|
      %tr
        %td= image_tag asset_path(book.image), :size => '75x100'
        %td= link_to "#{book.title}", book_path(book)
        %td= book.author
        %td= book.price
