%br
= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks', class: 'btn btn-default'
%h1 #{@current_user.first_name}'s Bids

= form_tag mybids_path, :method => 'get', class: 'form-inline' do 
    = text_field_tag :search, params[:search], class: 'form-control', :id => 'search_term', placeholder: 'Search Terms'
    = submit_tag "Search", class: 'btn btn-default', :id => 'search_submit'

%table#books
    %tbody
    - @mybids.each do |book|
        %tr
            %td=image_tag asset_path(book[:image]), :size => '150x200'
            %td{:rowspan => 1}
                %b Title:
                =book[:book_title]
                %br
                %b Author:
                =book[:book_author]
                %br
                %b ISBN:
                =book[:book_isbn]
                %br
                %b Bid Price:
                ='$'+book[:bid_price]
                %br
                %b Bid Status:
                =book[:bid_status]
                %br
                %b Time left:
                =book[:time_left]
            %td=button_to 'Edit', book_path(book[:book_id]), :method => :get, class: 'btn btn-info'
            %td=button_to 'Remove Bid', bid_path(book[:bid_id]), :method => :delete, :confirm => 'Are you sure?', class: 'btn btn-danger'
%h1 #{@current_user.first_name}'s Purchases

%table#booksBought
    %tbody
    - @booksBought.each do |book|
        %tr
            %td=image_tag asset_path(book.image), :size => '150x200'
            %td{:rowspan => 1}
                %b Title:
                =book.title
                %br
                %b Author:
                =book.author
                %br
                %b ISBN:
                =book.isbn
                %br
                %b Price paid:
                ='$'+book.bid_price
        
