-#  This file is app/views/books/mybooks.html.haml
= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks'
%h1 My Books
= button_to 'Add Book', new_book_path, :method =>:get, :id => 'addbook'
%table#books
  %thead
    %tr
      %th Book Title
      %th Author
      %th ISBN
      %th Quality
      %th Price
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title 
        %td= book.author
        %td= book.isbn
        %td= book.quality
        %td= book.price
        %td= button_to 'Edit', edit_book_path(book), :method => :get
        %td= button_to 'Delete', book_path(book), :method => :delete, :confirm => 'Are you sure?'


