%h1 Create New Book

= form_tag books_path do

  = label :book, :title, 'Title'
  = text_field :book, 'title'

  = label :book, :author, 'Author'
  = text_field :author, 'author'
  
  = label :book, :isbn, 'ISBN'
  = text_field :book, 'isbn'
  
  = label :book, :quality, 'Quality'
  = text_field :book, 'quality'
  
  = label :book, :price, 'Price'
  = text_field :book, 'price'
  
  = submit_tag 'Save Changes'

= link_to 'Back to my books', mybooks_path
