= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks'
= button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks'
%h1 Create New Book


  
= form_tag books_path(@book) do

  = image_tag asset_path(@book[:image]), :size => '75x100'

  = label :book, :image, 'Image'
  = text_field :book, :image, :value=>@book[:image]

  = label :book, :title, '* Title'
  = text_field :book, 'title', :value=>@book[:title]

  = label :book, :author, '* Author'
  = text_field :book, 'author', :value=>@book[:author]
  
  = label :book, :isbn, '* ISBN'
  = text_field :book, 'isbn', :value=>@book[:isbn]

  = label :book, :quality, 'Quality'
  = text_field :book, 'quality', :value=>@book[:quality]
  
  = label :book, :price, 'Price'
  = text_field :book, 'price' , :value=>@book[:price]
  
  =label :book, :description, 'Description'
  = text_area :book, 'description', :value => @book[:description]

  = submit_tag 'Save Changes'

= form_tag search_open_lib_path, :method => :post do
  = label :book, :isbn, 'ISBN'
  = text_field :book, 'isbn', :value=>@book[:isbn]
  = submit_tag 'Find Book by ISBN'
