= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks', class: 'btn btn-info'
= button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks', class: 'btn btn-primary'
%h1 Create New Book

= form_tag books_path(@book), :id =>'new_book' do

  = image_tag asset_path(@book[:image]), :size => '75x100'
  
  .form-group
    .row
      .col-md-4
        = label :book, :image, 'Image'
        = text_field :book, :image, :value=>@book[:image], class: 'form-control' 
  .form-group
    .row
      .col-md-4
        = label :book, :title,  '*Title'
        = text_field :book, 'title', :value=>@book[:title], class: 'form-control'
  
  .form-group
    .row
      .col-md-4
        = label :book, :author, '*Author'
        = text_field :book, 'author', :value=>@book[:author], class: 'form-control'

  .form-group
    .row
      .col-md-4
        = label :book, :isbn, '*ISBN'
        = text_field :book, 'isbn', :value=>@book[:isbn], class: 'form-control'

  .form-group
    .row
      .col-md-4
        = label :book, :department, 'Department'
        = text_field :book, 'department', :value=>@book[:department], class: 'form-control'
 
  .form-group
    .row
      .col-md-4
        = label :book, :course, 'Course'
        = text_field :book, 'course', :value=>@book[:course], class: 'form-control'
  
  .form-group
    .row
      .col-md-4
        = label :book, :quality, 'Quality'
        =select_tag 'book[quality]', options_for_select({"bad"=>"bad","fair" => "fair","good"=>"good","great"=>"great"}), :class => 'btn btn-default dropdown-toggle', type: 'button'
  .form-group
    .row
      .col-md-4
        = label :book, :price, 'Buy Now Price'
        .input-group
          %span.input-group-addon $
          = text_field :book, 'price' , :value=>@book[:price], class: 'form-control'

  .form-group
    .row
      .col-md-4
        = label :book, :auction_start_price, 'Auction Price'
        .input-group
          %span.input-group-addon $
          = text_field :book, 'auction_start_price' , :value=>@book[:auction_start_price], class: 'form-control'

  .form-group
    .row
      .col-md-4
        = label :book, :auction_time, 'Auction Time (year-month-day hr:min)'
        = datetime_select('book[auction_time]', options={})
 
  .component
    .form-group
      .row
        .col-md-4
          = label :book, :description, 'Description'
          = text_area :book, 'description', :value => @book[:description], class: 'form-control', rows: '3'
  .component#keyword_div_0
    .form-group
      .col-md-4
        =label :book, :keyword, 'Keywords:'
        = text_field :book, 'keyword[0]', :value => @book[:keyword]["0"], :class => 'keywords form-control'
        - @book[:keyword].each do |key, value|
          - if(key != "0")
            =text_field :book, 'keyword[key]', :value => value, :class => 'keywords form-control'
            </br>
  = submit_tag 'Save Changes', :id=>'add_book', class: 'btn btn-primary'
=button_tag "add keywords", :id=>'add_keywords', class: 'btn btn-default', :onclick => 'click_handler()'


%hr
%h3 Book lookup
= form_tag search_open_lib_path, :method => :post, class: 'form-inline' do
  = label :book, :isbn, 'ISBN'
  = text_field :book, 'isbn_open_lib', :value=>@book[:isbn], class: 'form-control'
  = submit_tag 'Find Book by ISBN', class: 'btn btn-default'
