-# in app/views/books/show.html.haml
%h2 #{@book.title}

%ul#details
  = image_tag asset_path(@book.image), :size => '75x100'
  %li
    Author:
    = @book.author
  %li
    Quality:
    = @book.quality
  %li
    Course:
    = @book.course
  %li
    Department:
    = @book.department
  %li
    Keywords:
    - @keywords.each_with_index do |keyword ,index|
      =keyword.tag
      -if index<@keywords.length-1
        ,

%h3 Description:

%p#description= @book.description
%h5
  ="Price $"+@book.price
= button_to 'Buy Now', buy_now_path(@book), :method=>:put, class: 'btn btn-success'

</br>

= form_tag make_bid_path, :method => :put do
  %h5
    = "Auction Price $"+@book.bid_price
  %h5
    = "Sale ends in: "+@book.time_left 
  .form-group
    .row
      .col-md-4
        .input-group
          %span.input-group-addon $
          = text_field :book, 'bid_price', :value=>"", class: 'form-control'
  = submit_tag 'Bid', class: 'btn btn-primary'

