-# in app/views/books/show.html.haml
= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks'
= button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks'
%h2 #{@book.title}

%ul#details
  = image_tag asset_path(@book.image), :size => '75x100'
  %li
    Author:
    = @book.author
  %li
    Quality:
    = @book.quality
  %li
    Buy Now Price:
    ="$"+@book.price
  %li
    Auction Price:
    ="$"+@book.auction_start_price
  %li
    Course:
    = @book.course
  %li
    Department:
    = @book.department
  %li
    Sale ends in:
    =@book.time_left 
  %li
    Keywords:
    - @keywords.each_with_index do |keyword ,index|
      =keyword.tag
      -if index<@keywords.length-1
        ,

%h3 Description:

%p#description= @book.description
  
= button_to 'Buy Now', buy_now_path(@book), :method=>:get
