!!!
%html
  %head
    %title BookMe
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title BookMe
    #main
      - if flash[:notice]
        #notice.flash_message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - if @current_user
        %p You are logged in as #{@current_user.email} (User name: #{@current_user.user_id})
        = button_to 'Log Out', logout_path, :method => 'delete', class: 'btn btn-danger'
      - else
        = button_to 'Sign Up/Login', login_path, :method =>:get, class: 'btn btn-info'
      = yield
