!!!
%html
  %head
    %title BookMe
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %nav.navbar.navbar-default.navbar-inverse{:role => "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => root_path, class: 'nounderline'} BookMe
      .collapse.navbar-collapse
        - if @current_user != nil
          %form.navbar-form.navbar-left{:role => "search"}
            .form-group
              = form_tag books_path, :method => 'get', class: 'form-inline' do 
                = text_field_tag :search, params[:search], class: 'form-control', :id => 'search_term', placeholder: 'Search Terms'
                = submit_tag "Search", class: 'btn btn-default', :id => 'search_submit'
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", class: 'nounderline'}
              Options
              %span.caret
              -if @current_user != nil
                -if Bid.exists?(:user_id => @current_user.id, :notification => true) || Book.exists?(:user_id => @current_user.id, :notification => true)
                  %span.badge 
                    !
            %ul.dropdown-menu{:role => "menu"}
              - if @current_user != nil
                .menu_elements
                  %li
                    %a{:href=> books_path}
                      %button.btn.btn-info.mybutton{:method =>:get, :id => 'allbooks'}
                        All Books
                    // = button_to 'All Books', books_path, :method =>:get, :id => 'allbooks', class: 'btn btn-info'
                  %li
                    %a{:href=> mybooks_path}
                      %button.btn.btn-info.mybutton{:method =>:get, :id => 'mybooks'}
                        My Books
                        -if Book.exists?(:user_id => @current_user.id, :notification => true)
                          %span.badge 
                            !
                      // = button_to 'My Books', mybooks_path, :method =>:get, :id => 'mybooks', class: 'btn btn-primary inline'
                  %li
                    %a{:href=> mybids_path}
                      %button.btn.btn-primary.mybutton{:method =>:get, :id => 'mybids'}
                        My Bids
                        -if Bid.exists?(:user_id => @current_user.id, :notification => true)
                          %span.badge 
                            !
                    // = button_to 'My Bids', mybids_path, :method =>:get, :id => 'mybids', class: 'btn btn-primary'
                  %li
                    %a{:href=>edit_user_path(@current_user)}
                      %button.btn.btn-primary.mybutton{:method => :get}
                        Edit Profile
                    //= button_to 'Edit Profile', edit_user_path(@current_user), :method =>:get, class: 'btn btn-primary mybutton'

                %li.divider
              %li
                %a 
                  - if @current_user != nil
                    %li
                      .menu_elements
                        %p{class: 'nounderline'}
                          You are logged in as #{@current_user.email} (User name: #{@current_user.user_id})
                    %li
                      .menu_elements
                        %a{:href=>logout_path}
                          %button.btn.btn-danger#logout{:method =>:get}
                            Log Out
                  - else
                    %li
                      .menu_elements
                        = button_to 'Sign Up/Login', login_path, :method =>:get, class: 'btn btn-info'

  %body
    #main
      - if flash[:notice]
        #notice.flash_message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
